*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* header */

header{
    text-align: center;
    color: palevioletred;
    margin: 20px 0px 40px 0px;
}

/* fine header */

/* main */

p{
    text-align: center;
    margin-bottom: 40px; 
}

/* card */

.row .card{
    float: left;
    width: calc(100% / 3 - 10px);
    margin-bottom: 40px;
}

.card{
    width: 30%;
    background-color: rgb(45, 44, 51);
    color: white;
    margin-right: 10px;
    float: left;
}

img{
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    color: rgb(48, 125, 233);
}
/* fine card */